* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

a {
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  width: 150px;
  border: 1px solid white;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  background-color: rgb(53, 53, 53);
}

fieldset {
  text-transform: uppercase;
  border: 1px solid #d1d1d1;
  background-color: rgba(12, 12, 12, 0.135);
  border-radius: 5px;
  padding-left: 15px;
  padding-bottom: 140px;
  height: 900px;
  margin-top: 90px;
  color: black;
}

h2 {
  text-transform: uppercase;
  display: block;
  padding-top: 20px;
  padding-left: 15px;
  color: black;
}

h1 {
  display: flex;
  font-size: 30px;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.309);
  justify-content: center;
  padding-top: 100px;
  color: black;
}

i {
  font-size: 20px;
}

nav {
  display: flex;
  width: 100%;
  flex: 1 1 100vh;
  flex-wrap: wrap;
  gap: 50px;
  position: fixed;
  margin-bottom: 25px;
  align-items: center;
  justify-content: center;
  background: rgb(111, 108, 108);
  padding-bottom: 25px;
  padding-top: 25px;
  padding-right: 68px;
  padding-left: 85px;
}

.bi {
  display: flex;
  font-size: 20px;
  padding-right: 5px;
}

#openMenu,
#closeMenu {
  border: none;
  background: none;
  font-size: 30px;
  font-weight: bold;
  padding: 0px 5px 0px 5px;
  cursor: pointer;
  display: none;
}

.main-bg {
  background-image: url('bg-oficina.png');
  background-size: cover;
  background-position: center center;
  opacity: 1;
}

.footer {
  display: block;
  padding: 5px;
  margin-top: 100%;
  background-color: rgba(255, 255, 255, 0.309);
  color: black;
  min-width: 400px;
  max-height: 100%;
  font-size: 12px;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  position: relative;
}

.menu-section {
  display: block;
  height: 100%;
  color: white;
}

.button_initial {
  display: flex;
  width: 100%;
  height: 0;
  text-align: center;
  justify-content: center;
}

.button_initial a:hover {
  background: white;
  color: black;
  border: 1px solid black;
  transition: .2s ease-in-out;
}

.form-submit input:hover {
  background: white;
  color: black;
  border: 1px solid black;
  transition: .2s ease-in-out;

}

.back-to-top:hover {
  background: white;
  color: black;
  border: 1px solid black;
  transition: .2s ease-in-out;

}

.form-submit {
  display: flex;
}

.form-submit input {
  display: block;
  padding: 10px;
  background-color: rgb(53, 53, 53);
  color: #fff;
  font: inherit;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 10px;
  margin-left: 5px;
}

.form-grup label {
  text-transform: uppercase;
  padding-top: 25px;
  display: block;
  margin-bottom: 4px;
  font-size: 15px;
}

.caixa-texto {
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 25px;
}

.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: rgba(12, 12, 12, 0.135);
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-transform: uppercase;
  border: 0.1rem solid black;
}

@media (max-width: 900px) {

  .menu-section {
    width: 100%;
    max-width: 100%;
    height: 900px;
    max-height: 100%;
  }

  fieldset {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }
}

@media only screen and (max-width: 717px) {

  #openMenu,
  #closeMenu {
    display: block;
  }

  #openMenu {
    margin-left: auto;
  }

  #closeMenu {
    position: fixed;
    right: 15px;
    top: 15px;
  }

  nav {
    position: fixed;
    flex-direction: column;
    width: 100vh;
    height: 100vh;
    background: 255, 255, 255, 0.8;
    align-items: center;
    justify-content: center;
    margin: 0;
    display: none;
    opacity: 0;
    transition: 0.3s;
  }
}

@media only screen and (max-width: 717px) {

  fieldset {
    margin-top: 0px;
  }
}